body {
  font-family: poppins;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
}

.hero {
  text-align: center;
}

.food-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
