:root {
  --primary-color: #272044;
}

body {
  font-family: poppins;
}

h1 {
  font-size: 96px;
  line-height: 144px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  opacity: 0.3;
}

h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
p {
  align-self: stretch;
  opacity: 0.7;
}
button {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 16px 32px 16px 32px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
}

.hero {
  text-align: center;
}
.hero h2 {
  font-weight: 400;
}
.hero h4 {
  font-size: 24px;
  font-weight: bold;
}

.item {
  width: 370px;
}

.food-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.photo-map {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.photo-map img,
.photo-map iframe {
  height: 185px;
  width: 185px;
}

.photo-map img {
  object-fit: cover;
}

.restaurant-address {
  font-size: 13px;
  line-height: 20px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.photo img {
  height: 370px;
  width: 370px;
}
